/* the * indicates universal styles, we will get into that later in the semester
for now, you can leave these alone */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Css is how we add all things style, below there are two simple styles added
go ahead and play with these, can you get the colors to change? What do you notice?
 */

.poppins-thin {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: normal;
}

.poppins-extralight {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: normal;
}

.poppins-light {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: normal;
}

.poppins-regular {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: normal;
}

.poppins-medium {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: normal;
}

.poppins-semibold {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: normal;
}

.poppins-bold {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: normal;
}

.poppins-extrabold {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: normal;
}

.poppins-black {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: normal;
}

.poppins-thin-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 100;
	font-style: italic;
}

.poppins-extralight-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 200;
	font-style: italic;
}

.poppins-light-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 300;
	font-style: italic;
}

.poppins-regular-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 400;
	font-style: italic;
}

.poppins-medium-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 500;
	font-style: italic;
}

.poppins-semibold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 600;
	font-style: italic;
}

.poppins-bold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 700;
	font-style: italic;
}

.poppins-extrabold-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 800;
	font-style: italic;
}

.poppins-black-italic {
	font-family: "Poppins", sans-serif;
	font-weight: 900;
	font-style: italic;
}

html {
	background-color: #000000;
}

body {
	width: 48%;
	margin: 50px auto;
	padding: 0px;
	background-color: #141414;
	border-radius: 10px;
	font-family: "Poppins", sans-serif;
}

/* header nav */

.headernav {
	text-align: center;
}
.headernav a {
	color: #ffffff;
	width: 140px;
	margin: 5px 10px;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 20px;
	border: 2.5px solid #ffffff;
	border-radius: 10px;
	display: inline-block;
	transition: transform 0.2s ease;
}

.headernav a:hover {
	color: #a5c0ed;
	border: 2px solid #a5c0ed;
	transform: scale(0.95);
}

/* footer nav */

.footernav {
	text-align: center;
}
.footernav a {
	color: #ffffff;
	margin: 5px 10px;
	padding: 10px 20px;
	text-decoration: none;
	font-size: 20px;
	border: 2.5px solid #ffffff;
	border-radius: 10px;
	display: inline-block;
	transition: transform 0.2s ease;
}

.footernav a:hover {
	color: #a5c0ed;
	border: 2px solid #a5c0ed;
	transform: scale(0.95);
}

img {
	display: block;
	width: 70%;
	margin: auto;
	border-radius: 15px;
}

#homeimg {
	background-color: #ffffff00;
	margin: 0px 45px 60px;
}

h1 {
	color: #dedede;
	text-align: center;
}

h2 {
	color: #cccccc;
	font-size: 25px;
	margin: 30px 0px;
	padding: 0px;
	line-height: 50px;
	text-align: center;
}

h3 {
	color: #a5c0ed;
	font-size: 20px;
	text-align: center;
}

p {
	color: #e0e0e0;
	font-size: 15px;
	text-align: left;
	margin: 0px 0px;
	padding: 0px 130px;
	line-height: 50px;
}

code {
	background-color: #3d3d3d;
	color: #ffffff;
	font-size: 15px;
	text-align: left;
	margin: 0px 130px;
	padding: 5px;
	line-height: 50px;
	border-radius: 5px;
}

.thickdivider {
	border: none;
	height: 30px;
	background-color: #808080;
	border-top: 5px solid #000000;
	border-bottom: 5px solid #000000;
	margin: 0px 50px;
}

.normaldivider {
	border: none;
	height: 2px;
	background-color: #909090;
	margin: 0px 120px;
}

.cleardivider {
	border: none;
	height: 25px;
	background-color: #00000000;
	margin: 0px 120px;
}

#backtotop {
	text-align: center;
}
#backtotop a {
	background-color: #3d3d3d;
	color: #ffffff;
	font-weight: 600;
	margin: 5px 10px;
	padding: 0px;
	width: 60px;
	height: 60px;
	text-decoration: none;
	font-size: 30px;
	border-radius: 10px;
	display: inline-block;
	transition: transform 0.2s ease;
}

#backtotop a:hover {
	transform: scale(0.95);
}
